.apartament {
    max-width: 300px;
    background-color: #5b5959;    
    box-sizing: border-box;
    padding: clamp(5px, 2vw, 10px);
    border-radius: 5px;
    margin: 0 clamp(5px, 1vw, 10px);
    margin-bottom: clamp(5px, 2vw, 10px);
}
.apartament__title{
    font-size: clamp(16px, 4vw, 22px);
    box-sizing: border-box;
    padding-right: 10px;
    font-weight: bold;
    color: #fff;
    margin: clamp(7px, 3vw, 15px) 0;
}
.apartament__img-wrapper{
    position: relative;
    height: 230px;
    cursor: pointer;
    width: 100%;
}
.apartament__img-wrapper_like:before{
    content: '♥';
    position: absolute;
    font-size: 120px;
    line-height: 1.8em;
    opacity: .5;
    color: red;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.apartament__img{
    width: 100%;
    height: 100%;
}