.header{
    height: clamp(40px, 15vw, 60px);
    background-color: #916ad1;
    display: flex;
    align-items: center;
}
.header__logo{
    color: #fff;
    font-size: clamp(30px, 10vw, 50px);
    margin-left: 50px;
}